@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --darkBlue: hsl(233, 26%, 24%);
    --limeGreen: hsl(136, 65%, 51%);
    --brightCyan: hsl(192, 70%, 51%);
    --grayishBlue: hsl(233, 8%, 62%);
    --lightGrayishBlue: hsl(220, 16%, 96%);
    --veryLightGray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Public Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    position: relative;
    z-index: 9999;
    justify-content: space-around;
    align-items: center;
    /* background-color: red; */
    padding: 1em 0;
    background-color: white;
}

.routes {
    display: flex;
    gap: 1.5rem;
    /* background-color: red; */
    color: var(--grayishBlue);
}

button {
    outline: none;
    color: #ffff;
    background: linear-gradient(to right, var(--limeGreen),var(--brightCyan));
    border: 1px solid var(--brightCyan);
    padding: .5em 1em;
    border-radius: 1.2em;
}

.intro-text {
    padding: 10em;
    /* display: flex; */
    flex-direction: column;
    justify-content: space-between;
    position: relative;

}


.intro-text .intro-text-head {
    font-weight: 400;
    font-size: 2.7rem;
    width: 10em;
}

.intro-text .intro-text-desc {
    color: var(--grayishBlue);
    font-size: .9rem;
    margin: 1em 0;
    line-height: 1.3em;
}

.intro-text .intro-bg-desktop {
    position: absolute;
    top: -55%;
    right: -35%;
}

.mockups {
    position: absolute;
    z-index: 9999999;
    top: -2em;
    scale: .85;
    right: 0;
}

@media screen and (max-width: 1280px) {
    .nav-bar {
        width: 100vw;
        background-color: red;
    }

    header {
        width: 100;
    }
}